<div class="texts-wrapper">
    <div class="contents-title text-center">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-6 col-md-5 col-lg-3">
            <div id="post_<%= post.id %>">
              <div class="card">
                <%= link_to attachment_image_tag(post, :image, format: "jpeg", size: "150x160", fallback: "no_image.jpg"), post_path(post.id), class: "mt-4" %>
                  <div class="card-body">
                    <p class="card-title">
                      <%= post.title %>
                    </p>
                    <p id="likes_buttons_<%= post.id %>">
                    <%= render partial: 'public/likes/like', locals: {post: post} %>
                    </p>
                  </div>
              </div>
            </div>  
          </div>
        <% end %>
      </div>
    </div>
  </div>