<div class='container'>
  <div class='row'>
    <div class='col-md'>
      <h2>ユーザー情報</h2>
      <div class="mt-5 mb-5"><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image_icon.jpg") %></div>
      <div class="mb-5"><%= link_to @post.user.username, user_path(@post.user) %></div>
      <div class="mb-5"><%= @post.user.introduction %></div>
      
      
    </div>
  
    <div class="col-md-5">
      <h2>投稿詳細</h2>
      <div class="col-md mt-5">
        <%= attachment_image_tag @post, :image, size: "400x300", fallback: "no_image.jpg", class: "img-fluid" %>
      </div>
    </div>  
    <div class="col-md-4 mt-5 pt-5">
      <table class="table table-border">
        <tr style="word-wrap:break-word">
          <th class="w-40">タイトル</th>
          
          <td class="w-60"><%= @post.title %></td>
        </tr>
        <tr>
          <th>カテゴリー</th>
          <td><%= link_to @post.category.name %></td>
        </tr>
        <tr style="word-wrap:break-word">
          <th>内容</th>
          <td><%= @post.body %></td> 
        </tr>
        <% if @post.user == current_user %>
          <tr>
            <td><%= link_to "編集する", edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id}" %></td>
            <td><%= link_to "削除する", post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}"%></td>
          </tr>
        <% end %>  
      </table>
    </div>
  </div>
</div>