<table class="table-bordered" style="width: 100%">
  <tr>
    <th class="table-active" style="width: 10%">アイコン</th>
    <td class="align-middle">　<%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image_icon.jpg") %></td>
  </tr>
  <tr>
    <th class="table-active" style="width: 10%">名前</th>
    <td class="align-middle">　<%=  user.name if user %></td>
  </tr>
  <tr>
    <th class="table-active" style="width: 20%">メールアドレス</th>
    <td class="align-middle">　<%= user.email if user %></td>
  </tr>
  <tr>
    <th class="table-active" style="width: 10%">ユーザーネーム</th>
    <td class="align-middle">　<%= user.username if user %></td>
  </tr>
  <tr>
    <th class="table-active" style="width: 10%">自己紹介</th>
    <td class="align-middle">　<%= user.introduction if user %></td>
  </tr>
</table>