<div class="container">
  <div class="row mt-3">
    <div class="col-md-5 ">
      <% if @user == current_user %>
        <h2>マイページ</h2>
      <% else %>
        <h2><%= @user.username %>さんの詳細ページ</h2>
      <% end %>
      </br>
      <%= render "show", user: @user %>
        <% if @user == current_user %>
          <div class="d-flex justify-content-center">
            <%= link_to "編集する", edit_user_path, class: "btn btn-outline-info rounded-pill mt-5 far fa-edit" %>
            <%= link_to "退会する", unsubscribe_path, class: "btn btn-outline-danger rounded-pill mt-5 ml-5 far fa-sad-tear" %>
          </div>
        <% end %>
      </div>  
      <div class="col-md-6 offset-md-1 ">
        </br>
        <% if @user == current_user %>
        <%= link_to "新しく投稿する", new_post_path, class: "btn btn-outline-info rounded-pill fas fa-plus" %>
        <% end %>
        <%= render 'public/posts/index', posts: @posts %>
      </div> 
  </div>
</div>
